.container {
  width: 100%;
  display: flex;
}

.left {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  width: 80%;
}

.right {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.box {
  width: calc(50% - 1em)
}

.box.message {
  flex-grow: 2;
}

.label {
  color: var(--text);
  margin: 0;
  letter-spacing: -1px;;
}

.input {
  font-family: var(--font);
  padding: .5em;
  border-radius: .5em;
  border: none;
  color: var(--background);
  width: 90%;
}

.input.message {
  height: calc(100px - 0.5em);
}

.selector {
  width: 90px;
  aspect-ratio: 1;
}

.colours {
  display: flex;
  flex-wrap: wrap;
  background: white;
  width: 100%;
  aspect-ratio: 1;
  padding: 0.5em;
  gap: 10px;
  border-radius: .5em;
  justify-content: center;
  align-items: center;
}

.colourButton {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 0.25em;
  margin: 0;
}