.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 2em;
  padding: 1em;
  border-bottom: .5px solid #222333;
}

.image {
  filter: invert(1);
  width: 100%;
  height: 100%;
}