@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

:root {
  --text: #ffffff;
  --background: #04050b;
  --primary: #6d44a7;
  --secondary: #2d132f;
  --accent: #b155b9;
  --font: 'Inter';
}

/* Light Theme
:root{
  --text: #000000;
  --background: #f4f5fb;
  --primary: #8158bb;
  --secondary: #ead0ec;
  --accent: #a246aa;
} */

body {
  font-family: var(--font);
  font-weight: 400;
  background: var(--background);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font);
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  backdrop-filter: blur(1em); 
}